.Summary {
  margin-top: 5ex; /* because default layout is quite tight */
}

.Summary .table {
  margin-bottom: 0;
}
.Summary td {
  font-family: monospace;
  font-size: 95%;
}

.Summary .CategoryStats tbody > tr > td {
  text-align: right;
}
.Summary .CategoryStats tfoot > tr > th {
  text-align: right;
  font-weight: normal;
  font-style: italic;
  opacity: 0.8;
}
.Summary .CategoryStats tfoot > tr > th:after {
  content: ' ↑';
}
